<div class="table-container">
  <table class='table-class'>
    <thead>
      <tr class="table-head">
        <th> <%= t('.students')%> </th>        
        <th> <%= t('.age')%>  </th>
        <th> <%= t('.school_grade')%> </th>
        <th> <%= t('.currently_studying')%> </th>
      </tr>
    </thead>
    <tbody>
      <% @presenter.students.each do |student| %>
        <tr class="tr-row-data">
          <td><%= link_to student.full_name, student, class:'student-link' %></td>
          <td><%= student.age %></td>
          <td><%= student.school_grade_capitalize %></td>
          <td><%= student.currently_studying_humanized %></td>
          <td>
            <div class='table-button-center'>
              <% if policy(student).edit? %>
                <%= button_to edit_student_path(student), data: { turbo_frame: 'modal' }, method: :get do %>
                  <%= image_tag 'Edit.svg', alt: 'edit button', class: 'user-list-edit-img' %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td>
            <div class='table-button-center'>
          <%= button_to student_path(student),method: :delete,  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do%>
            <%= image_tag( "Delete.svg", class: 'student-pen-icon') %>
          <% end %>             
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pagy">
  <%== pagy_nav(pagy) %>
</div>
