<%= turbo_frame_tag "modal" do %>
  <%= render TurboModalComponent.new do %>
    <%= tag.div data: { controller: "turbo-modal" } do %>
      <div class="modal">
        <div class="container-modal"> 
          <div class="modal-title">
            <h1> <%= t('.create-student')%> </h1>
          </div>
          <div class="modal-form">
            <%= render "new_student_form", student: @student %>
          </div>
        </div> 
      </div>
    <% end %>
  <% end %>
<% end %>