<div class="header-list">
  <%= link_to "Logout", :logout , data: { turbo_method: "post" } %>
  <div class="header-home">
    <%= image_tag 'Home.svg', alt: 'home', class: 'home-img' %>
    <%= link_to students_path do %>
      <p> <%= t('.students') %> </p>
    <% end %>
  </div>
  <p><%= current_user[:name] %></p>
</div>