
<div class="_form">
    <%= form_with model:user do |form| %>
        <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
        </div>
        <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
        </div>
        <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
        </div>
        <div>
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation%>
        </div>
        <div>
        <%= form.submit "Registrarme" , class: "submit-button" %> 
        </div>
        <%= button_to "Registrarme con Google" %> 
    <% end %> 

</div>

