<div class="log-in-form">
  <h2> <%= t '.title' %> </h2>			
  <%= render "msg", flash: flash  %>
  <%= form_with url:"/login", method: :post do |form|%>
    <div>
      <%= form.label t('.email') %> </br>
      <%= form.text_field t('.email') , placeholder: (t'.email_placeholder')%>
    </div>
    
    <div>
      <%= form.label t('.password') %></br>
      <%= form.password_field t('.password'), placeholder: (t'.password_placeholder'), :required => true%>
    </div>
    
    <div>
      <%= form.check_box :remember %>
      <%= label_tag(:remember, (t".remember")) %>
    </div>
  
    <div>
      <%= form.submit (t".login")%> 
    </div>
    
    <div class="forgot-password">
      <%= link_to do %>
        <%= t('.forgot-password') %>
        <% end %>
    </div>
  <% end %> 
  <%= button_to do %>
    <%= t('.button-google') %>
  <% end %> 
</div>