<div class="log-in-form">
  <h2> <%= t '.title' %> </h2>			
  <%= render "msg", flash: flash  %>
  <%= form_with url:"/login", method: :post do |form|%>
    <div>
      <%= form.label :email %> </br>
      <%= form.text_field :email , placeholder: (t'.email_placeholder')%>
    </div>
    
    <div>
      <%= form.label :password %></br>
      <%= form.password_field :password, placeholder: (t'.password_placeholder') %>
    </div>
    
    <div>
      <%= form.check_box :remember %>
      <%= label_tag(:remember, (t".remember")) %>
    </div>
  
    <div>
      <%= form.submit (t".login")%> 
    </div>
    
    <div class="forgot-password">
      <%= link_to "Olvide mi contraseña"%>
    </div>
  <% end %> 
  <%= button_to "Registrarme con Google"%> 
</div>