<%= turbo_frame_tag "modal" do %>
    <%= render TurboModalComponent.new do %>
      <%= tag.div data: { controller: "turbo-modal" }, style: "padding: 30px;" do %>
        <div class="modal">
          <div class="container-modal"> 
            <div class = "modal-form">
              <div class="title">
                <h1>Actualizar usuario</h1>
              </div>
              <%= render "users/partials/edit_user_form", user: @user %>
            </div>
<<<<<<< HEAD
          </div> 
        </div>
      <% end %>
=======
            <%= render "users/partials/edit_user_form", user: @user %>
          </div>
        </div> 
      </div>
>>>>>>> 8f81037d2a4c03f354a2243c94b1d212dd013fc2
    <% end %>
<% end %>