<div class="container"> 
  <%= render "header" %>
  <div class="container-list">
    <h1> <%= t '.title' %> </h1>
    
      <%= form_with(html:{class: "form-user-list"},model: @filter, url: users_list_path, method: :get) do |form| %>
      <div class= "search-input">
        <%= form.text_field :name, value: params[:name]%>
      </div>
      <div>
        <%= button_tag :submit do %>
          <i class='search-icon'></i>
        <% end %>
      </div>
      <% end %>
    
      <% if @records.empty? %>
        <div class="login-error">
          <%= render "msg", flash: flash  %>
        </div>
      <% else %>
        <%== render partial: 'users_list', locals: {records: @records, pagy: @pagy} %>
      <% end %>
    
  </div>
</div> 