<div class="container"> 
  <%= render "header" %>
  <div class="container-list">
    <h1> <%= t '.title' %> </h1>
    
    <div class="filter-users">
      <%= form_with(model: @filter, url: users_list_path, method: :get) do |form| %>
        <label id="name"><%= t '.name' %></label>
        <%= form.text_field :name, value: params[:name] %>
        <%= form.submit t '.button'%> 
      <% end %>
    </div>
    <% if @records.empty? %>
      <%= render "msg", flash: flash  %>
    <% else %>
      <%== render partial: 'user_list', locals: {records: @records, pagy: @pagy} %>
    <% end %>
  </div>
</div> 