<div class='users-list-index'>

  <div class='users-list-filter-section'>
    <div>
      <%=link_to students_path do%>
        <%= t('.students_list') %>
      <% end %>
    </div>
    <div>
      <%=link_to users_list_path do%>
        <%= t('.users_list') %>
      <% end %>
    </div>

    <div class="user-list-form">
      <%= form_with(html:{class: "form-user-list"},model: @filter, url: users_list_path, method: :get) do |form| %>
      <div>
        <%= button_tag :submit, class: 'user-list-filter-button' do %>
          <i class='user-list-search-icon'></i>
        <% end %>
      </div>
      <div class= "user-list-search-input">
        <%= form.text_field :name, placeholder: params[:name] %>
      </div> 
      <% end %>
      <div class="user-list-new-user-button">
        <%= button_to new_user_path(), data: { turbo_frame: 'modal' }, method: :get do %>
          <%= image_tag 'New-user.svg', alt:'new-user-img'%>
          <span>Nuevo Usuario</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="user-list-container-list">
    <div class="user-list-search-msg">
      <% if flash[:notice].present? || flash[:error].present? %>
        <%= render "partials/msg", flash: flash  %>
      <% end %>
    </div>
    <%== render partial: 'users/partials/users_list', locals: {records: @records, pagy: @pagy} %>
  </div>
</div>