<%= render "partials/msg", flash: flash  %>
<%= form_with model: @user, method: "patch" do |form| %>
  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
  <div class="form-field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>
  <div class="form-field">
    <%= form.label :email %>
    <%= form.text_field :email, readonly: true %>
  </div>
  <div class="form-field">
    <%= form.label :rol %>
    <%= form.select :rol, User.rols.keys %>
  </div>
  <div class="register-button">
    <%= form.submit "Actualizar usuario" %> 
  </div>
<% end %> 