<div class="users-table">
  <table>
    <thead>
      <tr class="table-head">
        <th> <%= t('.user') %> </th>        
        <th> <%= t('.email') %> </th>
        <th> <%= t('.rol') %> </th>
        <th> <%= t('.active') %> </th>
      </tr>
    </thead>
    <tbody>
      <% records.each do |user| %>
        <tr class="user">
          <td> <%=user.name%> <%=user.lastname %> </td>
          <td> <%=user.email %> </td>
          <td> <%=user.rol%> </td>
          <td>
            <%= form_with(model: user, url: user_change_active_path(user), method: :patch) do |form| %>
              <div class="toggle-button" data-controller="users">
                <%= form.check_box :active, data:{users_target:"checkbox", action:"users#changeActive"} ,id:user.id   %>
                <label class="" for=<%=user.id%>><%= form.submit %></label>
              </div>
            <% end %>
          </td>
          <td>
            <% if policy(user).edit? %>
              <%= button_to edit_user_path(user), data: { turbo_frame: 'modal' }, method: :get do %>
                <%= image_tag 'Edit.svg', alt: 'edit button', class: 'edit-img' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagy">
    <%== pagy_nav(pagy) %>
  </div>
</div>
