<div class="users-table">
  <table>
    <thead>
      <tr class="table-head">
        <th><%= t '.name' %></th>        
        <th><%= t '.lastname' %> </th>
        <th>Email</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <% records.each do |user| %>
        <tr class="table-row">
          <td><%=user.name%></td>
          <td><%=user.lastname %></td>
          <td><%=user.email %></td>
          <td><%=user.rol%></td>
          <td>
            <%= button_to edit_user_path(user), data: { turbo_frame: 'modal' }, method: :get do %>
              Editar
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagy">
    <%== pagy_nav(pagy) %>
  </div>
</div>
