<!DOCTYPE html>
<html>
  <head>
    <title>StGrupo3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: '/partials/navbar' if logged_in? %>
    <% flash.each do |type, msg| %>
      <%= render '/partials/flash_message' , message: msg, warning_type: type %>
    <% end %>
    <%= turbo_frame_tag "modal", user: @user %>
    <%= yield %>
  </body>
</html>
